--
-- PostgreSQL database dump
--

\restrict utzgX2O9BzfGvn61uLV1kbfbhXX31H86f46lYy0aev3nxKicWxXVmAPxiEzuTwn

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: menu_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.menu_items (
    id integer NOT NULL,
    campus character varying(50) NOT NULL,
    week_of character varying(10) NOT NULL,
    day_name character varying(20) NOT NULL,
    menu_date character varying(10) NOT NULL,
    category character varying(50),
    dish_name text NOT NULL,
    allergens text,
    calories integer,
    protein numeric(5,1),
    fat numeric(5,1),
    sodium numeric(5,1),
    created_at timestamp without time zone DEFAULT now(),
    subcategory character varying(50)
);


ALTER TABLE public.menu_items OWNER TO postgres;

--
-- Name: menu_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.menu_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.menu_items_id_seq OWNER TO postgres;

--
-- Name: menu_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.menu_items_id_seq OWNED BY public.menu_items.id;


--
-- Name: menu_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_items ALTER COLUMN id SET DEFAULT nextval('public.menu_items_id_seq'::regclass);


--
-- Name: menu_items menu_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_pkey PRIMARY KEY (id);


--
-- Name: menu_items unique_dish; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT unique_dish UNIQUE (campus, menu_date, dish_name, subcategory);


--
-- Name: idx_campus_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campus_date ON public.menu_items USING btree (campus, menu_date);


--
-- Name: idx_menu_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_menu_date ON public.menu_items USING btree (menu_date);


--
-- PostgreSQL database dump complete
--

\unrestrict utzgX2O9BzfGvn61uLV1kbfbhXX31H86f46lYy0aev3nxKicWxXVmAPxiEzuTwn

